:root {
  --pad: 0px;
}* 

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding-left: var(--pad);
    box-sizing: border-box;
    background: url(pattern.png);
    font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #778298;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
      border-radius: 25px;
      background: #2f2f2f;
      display: flex;
      flex-direction: column;
      background-position:center;
      width:420px;
      height:635px;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      font-family: JasmineUPC;
  }

  .RCOS {
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .Test {
    color: #e63f3f;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .Spotify {
    color: Black;
    font-family: JasmineUPC;
    padding-top: 10px;
    font-weight: bolder;
  }

  .Version {
    padding-top: 70px;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 10px;
  }

  .What {
    padding-top: 55px;
    color: white;
    font: JasmineUPC;
    font-size: 1.4rem;
  }

  .Agree {
    padding-top: 15px;
    color: white;
    font-size: .75rem;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family: JasmineUPC;
    padding-bottom: 5px;
  }
  
  .btn {
    background: #79a3f8;
    letter-spacing: 1px;
    width: 420px;
    height: 60px;
    border: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-weight: bold;
  }
  
  .login .btn {
    font-size: 1.4rem;
    font-family: JasmineUPC;
    color: white;
  }

  .Checkbox {
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: white;
  }
  
  .main {
    width: 90%;
    margin: 2rem auto;
  }

  .main-heading {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }