* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f3f4f6;
    font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #778298;
  }
  
  .btn {
    letter-spacing: 1px;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login .btn {
    font-size: 1.2rem;
  }
  
  .main {
    width: 90%;
    margin: 2rem auto;
  }

  .main-heading {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
